SECRET_KEY=change-me
DEBUG=True
DATABASE_URL=postgres://signage:signage@postgres:5432/signage
MEDIA_ROOT=/app/media/
ALLOWED_HOSTS=signage.localhost,localhost,127.0.0.1,backend
CORS_ALLOWED_ORIGINS=http://signage.localhost
CSRF_TRUSTED_ORIGINS=http://signage.localhost
